@import "bootstrap";
@import "bootstrap_extra";

body {
  background-color: #FFFFFF;
  font-family: sans-serif;
}

.score {
  border-radius: 50px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  background: #aaa;
  color: white;
  display: inline-block;
  margin-right: 5px;
}

.search-bar label {
  margin: 10px 0 10px 40px;
}
